div.change-password-container{
    border-radius: 10px;
    background-color: white ;
    position: absolute;
    margin-top:50px ;
    padding-top: 50px;
    width: 800px;
    height: 300px;
    margin-left: calc((100vw / 2) - 800px / 2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.change-password-padding{
    width: inherit;
    height: 200px;
}
div.change-password-form{
    margin-top: 10px;
}

div.username{
    width: inherit;
    height: 40px;
    text-align: center;
}
div.username label{
    text-align: center;
    

}
div.current-password{
    width: inherit;
    height: 40px;
    padding-top: 20px;
    background-color: white;
    
}
div.current-password label{
    position: absolute;
    left: 110px;
    margin-top: 10px;
    color: gray;
}
div.current-password input{
    padding-left: 10px;
    width: 300px;
    height: 40px ;
    border-radius: 5px;
    position: absolute;
    left: 250px;
}
div.current-password p.current-password{
    color: red;
    background-color: white;
    margin-top: 10px;
    position: absolute;
    left: 400px;
}
.save{
    margin-top: 20px;
    width: 80px;
    height: 40px;
    position: absolute;
    left: 350px;
    background-color: white ;
    color: black;
    border-radius: 5px;
}
.save:hover{
    background-color:gray;
    color: white;
}
div.saved p{
    position: absolute;
    left: 375px;
    color: green;
}